.wrapper {
    display: flex;
    justify-content: space-between;
    gap: .5rem;
}

.wrapper input {
    display: flex;
    flex-grow: 1;
    background: var(--gray-500);
    border: 1px solid var(--gray-700);
    color: var(--white);
    
    padding: 1rem;
    border-radius: .5rem;

    line-height: 1.375rem;
}

.wrapper input:focus, .wrapper input:focus-visible {
    border: 1px solid var(--purple-700);
    outline: 0;
    color: var(--white);
}

.wrapper button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;

    padding: 1rem;
    background: var(--blue-600);
    border-radius: .5rem;
    border: 0;

    color: var(--gray-100);
    font-size: .875rem;
    font-weight: 700;
    cursor: pointer;
    line-height: 0;

    transition: background 0.1s;
}

.wrapper button:hover {
    background: var(--blue-400);
}